* {
    margin: 0px;
    padding: 0px;
}

.login-container {
    max-width: 300px;
    margin: 100px auto;
    text-align: center;
}

.table-container {
    max-width: 800px;
    margin: 50px auto;
}

input[type="text"],
input[type="password"],
button {
    display: block;
    margin: 10px auto;
    padding: 8px 12px;
    width: 100%;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
}

/* Logo and Title Flexbox */
.logo-title-flex-container {
    display: flex;            /* Enables flexbox */
    align-items: center;      /* Vertically center align the items */
    justify-content: flex-start; /* Align items from the start of the container */
    gap: 20px;                /* Optional: adds space between the image and the title */
}

.logo-image {
    width: 100px;             /* Fixed width for the image */
    height: auto;             /* Maintain aspect ratio */
}

.group-title {
    margin: 0;                /* Removes default margin of h1 */
    font-size: 24px;          /* Optional: sets the font size */
}

.participant-records {
    text-align: center;
    color:deeppink;
    font-weight: bold;
}



