* {
    margin: 0px;
    padding: 0px;
}

body {
    
}

/* Login */
.login-container {
    max-width: 300px;
    margin: 100px auto;
    text-align: center;
}

input[type="text"],
input[type="password"],
button {
    display: block;
    margin: 10px auto;
    padding: 8px 12px;
    width: 100%;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
}

/* Logo and Title Flexbox */
.logo-title-flex-container {
    display: flex;            
    align-items: center;      
    justify-content: center;
                  
}

.logo-image {
    width: 100px;             /* Fixed width for the image */
    height: auto;             /* Maintain aspect ratio */
}

.group-title {
                   
    font-size: 24px;   
    text-align: center;       
}

.participant-records {
    text-align: center;
    color:deeppink;
    font-weight: bold;
}

/* Table */
/* Style the table */
table {
    width: 90%; 
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse;
}

#table-container {
    width: 80;
    
    margin: auto;
}

#participant-table {
   
}

/* table header */
th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: center;
}

/* table cells */
td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* action buttons container */
.actions {
    display: flex;
    align-items: center;
    width: 100%;
}

/* action buttons */
.actions button {
    padding: 6px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
    width: 120px; /* fixed width */
    height: 40px; /* fixed height */
}

/* edit button */
.actions button.edit {
    background-color: #007bff;
}

/* delete button */
.actions button.delete {
    background-color: #dc3545;
}

/* form input fields */
input[type="text"],
input[type="date"],
input[type="number"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* form submit button */
input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}




